@font-face {
    font-family: 'personafont';
    src: url(assets/Persona5main.ttf) format('opentype');
}

@font-face {
    font-family: 'persona2';
    src: url(assets/chiarostd_b.otf) format('opentype');
}

body{
    font-family: personafont, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(54, 54, 54),black);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px;
    background-color: rgb(167, 0, 0);
    border: 5px solid black;
    position: fixed;
    width: 99%;
    z-index: 100;
}

.h , .a, .s {
    transition: ease-in-out .5s;
}

.h:hover, .a:hover, .s:hover{
    color: white;
    scale: 1.1;
}

.tanaka1{
    height: 80px;
}

a{
    text-decoration: none;
    color: black;
}


.tanakers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.tanaking{
    height: 300px;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 1));

}

.about1{
    margin-top: 80px;
    font-family: persona2, sans-serif;
    font-weight: 10000;
    background: linear-gradient( rgba(167, 0, 0, 0.80), rgba(29, 1, 1, 0.8));
    border: 5px solid black;
    border-radius: 15px;
}

.star{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

.s1{
    height: 200px;
    animation: spin 10s linear infinite;
}

.dialog{
    justify-content: right;
    
}

.d1{
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 1));
    rotate: -5deg;
    height: 200px;
}

.d2, .d3{
    font-weight: 10000;
    color: azure;
}
.items{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 70px;
    gap: 10px;
    transition: ease-in-out 1s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.i1:hover, .i2:hover, .i3:hover{
    scale: 1.2;
    animation: shake 0.5s ease-in-out;
}

.ad{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 1));
}

.fcontain{
    
    background: linear-gradient( rgba(167, 0, 0, 0.80), rgba(29, 1, 1, 0.8));
    text-align: center;
    padding: 3px;
}

.ooo{
    font-size: 130%;
}


