@font-face {
    font-family: 'personafont';
    src: url(assets/Persona5main.ttf) format('opentype');
}

@font-face {
    font-family: 'persona2';
    src: url(assets/chiarostd_b.otf) format('opentype');
}

body{
    font-family: personafont, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(54, 54, 54),black);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px;
    background-color: rgb(167, 0, 0);
    border: 5px solid black;
    position: fixed;
    width: 99%;
    z-index: 100;
}

.tanaka1{
    height: 80px;
}

a{
    text-decoration: none;
    color: black;
}


.Scontain{
    margin-top: 120px;
    background: linear-gradient(to bottom ,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.945) ), url(assets/bg.png) no-repeat center / cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.t3{
    display: flex;
    flex-direction: column;

}

.tanakest{
    height: 320px;
}


.t4{
    rotate: -20deg;
    height: 300px;
}

.Scontents{
    align-items: center;
    font-family: persona2, sans-serif;
    color: azure;
}

.basetanaka{
    height: 300px;
}

.base{
    display: flex;
    flex-direction: column-reverse;
}

.c1 , .c2, .c3 ,.c4{
    font-size: 125%;
}